.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.navbar-nav a{
    font-size: 15px !important;
}

.item img {
    max-width:100%;
    max-height:500px;
    width: auto;
    height: auto;
}

.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.content {
    padding-top: 30px;padding-bottom: 30px; 
}

#book {
    color:#262626; background: rgba(255, 255, 255, .5);
}

#facillities {
    color:white; background-color:  #4d4d4d;
}